* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

header h1 {
    margin-top: 1em;
    font-size: 48px;
    margin: 0;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.option a {
    margin: 1em;
    background-color: coral;
    padding: 0.2em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;
    font-size: large;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    transition: 0.5s;
}

.option a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.option .animacion {
    background-color: rgb(200, 200, 200);
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 0.5em;
}

.option .animacion a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
    max-width: 600px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="range"] {
    margin-top: 5px;
}

form span {
    margin-top: 5px;
    font-weight: bold;
}

form div {
    margin-top: 10px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}